rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /media/{boxId}/{msgId}/{fileName} {
      // Cho phép web app đọc các file media để hiển thị (thumbnail, original video)
      allow read: if request.auth != null;
      // Việc upload bắt buộc phải thông qua signed URL do server cấp
      allow write: if false;
    }
    
    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
